.book-landing {
    padding: 1em;
    .md-container {
        height: 2px;
    }
    .book-list {
        margin-top: 3em;
        .book-item {
            display: inline-block;
            text-decoration: none;
            margin: 0em 4em 2em 4em;
            img {
                width: 10em;
                background-image: url(../img/bookcover.png);
                background-size: contain;
                height: 15em;
                border-radius: 5px;
                transition: box-shadow 0.2s ease;
            }
            .book-title {
                padding: 0;
                font-weight: normal;
                font-size: 1em;
                color: #444;
                margin-bottom: 0;
            }
            .author {
                color: #999;
                font-size: 0.7em;
            }
        }
    }
}

.book-view {
    padding: 1em;
    img {
        width: 10em;
        height: 15em;
        background-image: url(../img/bookcover.png);
        background-size: contain;
        border-radius: 5px;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    .book-detail {
        position: relative;
    }
    .back-nav {
        margin-bottom: 1em;
    }
    .delete {
        background-color: #e21212;
        position: absolute;
        top: 0;
        right: 0;
    }
    .book-title {
        margin: 0;
    }
    .publisher {
        color: purple;
        font-weight: lighter;
        font-style: italic;
    }
    p {
        font-size: 0.8em;
        font-style: italic;
    }
}

.book-dialog {
    form {
        width: 500px;
        max-width: calc(100vw - 4em);
        padding: 1em 2em;
    }
    .button-wrapper {
        text-align: right;
    }
    md-input-container {
        margin: 1em;
    }
}
