md-input-container {
    margin: 0;
    .md-errors-spacer {
        min-height: 1em;
    }
}

a {
    text-decoration: none;
}

.title {
    font-size: 1.5em;
    font-weight: lighter;
}

@import 'book';
