<div class="book-view">
    <md-button class="md-primary back-nav" ng-href="/">Back to list</md-button>
    <div ng-if="bookViewCtrl.book" layout="row" layout-xs="column">
        <img src="img/bookcover.png" class="md-whiteframe-1dp">
        <div flex class="book-detail">
            <h1 class="book-title">{{bookViewCtrl.book.title}}</h1>
            <label class="author">by {{bookViewCtrl.book.author}}</label>
            <md-button class="md-fab delete" ng-click="bookViewCtrl.showConfirm($event, bookViewCtrl.book)">
                <md-icon md-svg-src="img/rubbish-bin.svg"></md-icon>
            </md-button>
            <br>
            <b>{{bookViewCtrl.book.categories}}</b>
            <p>Lorem ipsum dolor sit amet, an vel electram consetetur, rebum impetus volutpat et nam, eius latine pro cu. Etiam paulo maluisset eum et. Ne qui doming iuvaret impedit, soluta officiis recusabo usu et. Essent omittam pro at. Usu appareat scriptorem dissentiet ea, ei fierent splendide constituto qui. Ex utroque impedit sit, quem probo theophrastus qui in, duo id iriure liberavisse. Te saperet impedit vix, ea est diam laboramus similique.</p>
            <label class="publisher">Published by {{bookViewCtrl.book.publisher}}</label>
            <br>
            <br>
            <md-button class="md-raised md-primary" ng-click="bookViewCtrl.updateBook($event, bookViewCtrl.book)">Update</md-button>
        </div>
    </div>
</div>
